body, html {
    height: 100%;
    padding: 0;
}
header{
    background-image:url(dirt.jpg);
    width: 100%;
    height: 23%;
    color:white;
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 0;
}
.header-space {
    height: 20%;
    display: block;
}
a{
    text-decoration: none;
}
body{
    background-image: url(e.webp);
    background-size: 100px;
}
h1{
    color: green;
}
p{
    color: red;
    font-size: 30px;
    font-family: Arial;
}
img{
    position: relative;
    width: 200px;
    height: 200px
}
.end img {
    position: fixed;
    bottom: -40%;
    transition: all 0.3s;
    width: 600px;
    height: 200px;
}
.end:hover img {
    bottom: 0;
    display: block;
}
